* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:#fff;
}

nav {
    background-color:rgb(87, 24, 121) ;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.2s ease;
}

.nav-links li a:hover {
    background-color: #d94ac4;
    color: #72b0c3;
    border-radius: 5px;
}

.hero {
    height: 100vh;
    background: url('https://your-image-url.jpg') no-repeat center center/cover;
    position: relative;
    animation: zoomIn 10s ease infinite;
}

@keyframes zoomIn {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#fff;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #17041f;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #973fa0;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: #962ea1;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.services {
    padding: 50px 0;
    background-color: black;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: #b66caa;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(156, 67, 194, 0.1);
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 40px;
    color:white;
    margin-bottom: 15px;
}

footer {
    background-color: #601f75;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
